<h1>Agregar equipo</h1>

<label></label>
<div class="container">
    <form method="POST" action="/add" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Nombre del club</span>
                    </div>
                    <input type="text" id="user[name]" name="user[name]" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Año de fundacion</span>
                    </div>
                    <input type="number" id="year" name="year" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>
        <label></label>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">País</span>
                    </div>
                    <input type="text" id="country" name="country" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Sitio Web</span>
                    </div>
                    <input type="url" id="web" name="web" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>
        <label></label>
        <div class="row">
            <div class="col-sm">
                <li>Subir imagen del escudo</li>
                <label for="imagen">Imagen: </label>
                <input type="file"  name="escudo" id="escudo">
            </div>
        </div>
        <label></label>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm">
                <input type="text" name="user[id]" value="{{data.idCreado}}" hidden>
                <input type="submit" class="btn btn-primary" value="Enviar todo"/>
            </div>
        </div>
    </form>
</div>
