<h1>Editar Equipo</h1>

<label></label>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Nombre del club</span>
                </div>
                <input type="text" value="{{data.nombre_equipo}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Año de fundacion</span>
                </div>
                <input type="number" value="{{data.ano_equipo}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
    </div>
    <label></label>
    <div class="row">
        <div class="col-sm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">País</span>
                </div>
                <input type="text" value="{{data.pais}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Sitio Web</span>
                </div>
                <input type="url" value="{{data.web}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
    </div>
    <label></label>
    <div class="row">
        <div class="col-sm">
            <li>Subir imagen del escudo</li>
            <form action="/add" method="POST" enctype="multipart/form-data">
                <label for="imagen">Imagen: </label>
                <input type="file"  name="escudo" id="escudo">
                <input type="submit" value="Subir" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>previzualizacion del escudo:</label>
        </div>
    </div>
    <label></label>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary">Enviar Todo   </button>
        </div>
    </div>
</div>