<h1>En esta vista va a estar toda la tabla principal</h1>

<span>  Hay {{data.filas}} equipos</span>
<button type="button" class="btn btn-primary" onclick="window.location.href='/add'">Agregar</button>

<table class="table">
  <thead>
    <tr>
        <th scope="row">#</th>
      <th scope="col">Equipo</th>
      <th scope="col">País</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{>navegacion items=data.equipos}}
    </tr>
  </tbody>
</table>